[Unit]
Description=[ThinkPad Yoga] Tablet mode
Requires=display-manager.service
After=display-manager.service

[Service]
ExecStart=/bin/bash /opt/thinkpad-x380-yoga-scripts/tablet/tablet_monitor.sh
KillMode=process
Type=simple

[Install]
WantedBy=multi-user.target


 